.DS_Store
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/

.idea/
.icspot/

models/
outputs/datasets/dumps
outputs/datasets/test
outputs/datasets/train
outputs/datasets/validation