.DS_Store
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/

.idea/
.icspot/

models/
outputs/checkpoints
outputs/datasets/context
outputs/datasets/test
outputs/datasets/train
outputs/datasets/validation
# outputs/datasets/dumps
outputs/logs
outputs/metrics
outputs/plots
outputs/validation_data
outputs/validation_data_newcontext
outputs/validation_data_old
