global

defaults
    mode    http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    mode http
    option forwardfor
    redirect scheme https if !{ ssl_fc }

frontend https_front
    bind *:443 ssl crt /usr/local/etc/haproxy/certificates/ca.crt
    mode http
    option forwardfor
    default_backend web_app

backend web_app
    mode http
    balance roundrobin
    server web_app1 web_app:8080 check

frontend modbus_proxy_front
    bind *:502
    mode tcp
    option tcplog
    default_backend modbus_app

backend modbus_app
    mode tcp
    balance roundrobin
    server modbus_app1 modbus_app:5020 check send-proxy
